%h1= @title
%p
  = link_to $ROR_STR, $ROR_LNK
  is a project to make a book and screencasts to teach web development with
  = succeed '.' do
    = link_to "Ruby on Rails", "http://rubyonrails.org"
  This is the sample application for the tutorial.