// ---------------------------------------------------------------------------
// Imports

@import susy

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns: 15
$column-width: .5em
$gutter-width: .5em
$grid-padding: $gutter-width

$show-grid-backgrounds: true
