// ------------------
// Header
 
= hide-text
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
 
#header
  +zero-margin
  
  h1
    +hide-text
    float: left
    margin: $px9 0 0 0
    
    a
      +border-radius(38px)
      display: block
      width: 75px
      height: 76px
      background: url(RT.png) no-repeat
      
      &:hover
        border: none
        padding: 0
  
  #nav
    position: relative
    float: right
    padding: $px9 0
    ul
      +horizontal-list(false)
      
      li
        +border-corner-radius(top, left, $px9)
        +border-corner-radius(bottom, right, $px9)
        padding: 6px 15px
        margin: 0 7.5px
        border: 1px solid #cacaca
        border-bottom: ($px9/3) solid $main-color
        background-color: white
        
        a
          color: $main-color / 4
          
          &:hover
            color: $main-color
            border: none