// ---------------------------------------------------------------------------
// Constants/commonly used variables

$main-color: #C82536
$border-color: #963
$lnk-normal: #369
$lnk-hover: $main-color
$lnk-active: navy
$lnk-visited: grey
$lnk-focus: black

$border: 1px dashed $border-color

$phi: 1.618