/*
 * Master stylesheet.
 * @author RT
 */
@import compass/reset
@import compass/utilities
@import compass/css3/border-radius
@import compass/css3/inline-block
@import compass/typography/lists/horizontal-list
@import compass/typography/links/link-colors

@import fonts
@import vars
@import header
@import footer

= button
  +border-corner-radius(top, left, 9px)
  +border-corner-radius(bottom, right, 9px)
  padding: 6px 15px
  margin: 0 7.5px
  border: 1px solid #cacaca
  border-bottom: 3px solid $main-color

html, body
  +serif
  font-size: $base-font-size
  border-top: 3px solid #{$main-color}

a
  text-decoration: none
  +link-colors($lnk-normal, $lnk-hover, $lnk-active, $lnk-visited, $lnk-focus)
  
p
  margin-bottom: 18px  

// h1-h6 headings  
@for $i from 1 through 6
  h#{$i}
    +font-scale(pow($phi, $phi/$i))
    font-weight: bold

/* page container
 * ---------------- */
#page
  margin: 0 auto
  padding: 0 30px
  
a img
  border: none
  
.clear
  clear: both

/* main content
 * ---------------- */
#main
  margin: 0 auto
  position: relative
  clear: both
  padding-top: 9px
  &:after
    clear: both
    display: block
    content: ""
  h1
    margin-bottom: 9px
  
/* misc
 * ---------------- */