/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import compass/reset
@import compass/utilities
@import compass/css3/border-radius
@import compass/typography/lists/horizontal-list

@import fonts
@import vars

html, body
  +serif
  font-size: $base-font-size
  border-top: 3px solid #{$main-color}
  
@for $i from 1 through 6
  h#{$i}
    +font-scale(pow($phi, 2/$i))
    font-weight: bold

ul.nav
  +horizontal-list(9px)
  
.round
  +border-radius(99px)

.round-edge
  +border-radius(9px)
    
small
  font-size: $base-font-size/$phi